*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $gray-light;
  color: $black-2;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5;
}

.clear::after{
  clear: both;
  content: "";
  display: table;
}
