//Colors
$white: #fff;
$black: #000;
$indigo: #3F51B5;
$black-2: #191919;
$gray-dark: #5b5553;
$gray-med: #b1a7a5;
$gray-light: #e5e5e5;

$body-bg: #B0BEC5;

//Breakpoints
$mid-break: 750px;
$big-break: 1000px;
